<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Food Settings</title>

<div th:include="StandardImports.html"></div>

<script type="text/javascript">
	function validateAddActivity() {
		let day = document.getElementById("day").value;
		let type = document.getElementById("type").value;
		if (day == "Select") {
			DMessage = "A day is Required; ";
		}
		if (type == "Select") {
			TyMessage = "A meal type is Required; ";
		}
		if (DMessage != "" || TyMessage != ""){
			alert(DMessage + TyMessage);
			DMessage = "";
			TyMessage = "";
			return false;
		}
		document.getElementById('addMeal').submit();
	}
</script>

</head>
<body>
	<div th:include="nav-top.html"></div>
	
	<div class="container">
	
	<h1>Food Settings</h1>
	
	<br>
	
  		<div class="row">
  			<div class="col-sm-4">
  				<h3 >Add a meal to schedule</h3>
  				<br>
  				<form action="addMeal" id="addMeal" method="POST"  onsubmit="validateAddActivity()">
  					<table>
  						<tbody>
  							<tr class="loginRow">
  								<td>Event Type</td>
  								<td>
  									<select id="event" name="event">
  										<option>Meal</option>
  									</select>
  							</tr>
  							<tr class="loginRow">
								<td>Day of the Week</td>
								<td>
									<select id="day" name="day">
										<option>Monday</option>
										<option>Tuesday</option>
										<option>Wednesday</option>
										<option>Thursday</option>
										<option>Friday</option>
										<option>Saturday</option>
										<option>Sunday</option>
									</select>
								</td>
							</tr>
							<tr class="loginRow">
								<td>Time - HR:Min</td>
								<td><input type ="time" id="time" name="time" required></td>
							</tr>
							<tr class="loginRow">
								<td>Meal Type</td>
								<td>
									<select id="type" name="type">
										<option>Meal</option>
										<option>Snack</option>
									</select>
								</td>
							</tr>
							<tr class="loginRow">
								<td>Duration - HR:Min</td>
								<td><input type ="time" id="dur" name="dur" required></td>
							</tr>
						</tbody>
  					</table>
  					<br>
  					<p><button type="submit" onClick="validateAddActivity()">Add</button></p>
  				</form>
  			</div>
  			
  			<div class="col-sm-8"; style="overflow: auto">
  				<h3>Meal Schedule</h3>
  				<table border="1">
  					<tr>
  						<th>Time</th>
  						<th>Duration</th>
  						<th>Type</th>
  					</tr>
  					<tr>
  						<th>Monday</th>
  					</tr>
  					
					<span th:each="scheduleItem : ${schedule}">
						<span th:if="${scheduleItem.itemType eq 'food'}">
							<tr>
								<td th:text="${scheduleItem.time}"/>
								<td th:text="${scheduleItem.duration}"/>
								<td th:text="${scheduleItem.snackOrLocation}"/>
							</tr>
						</span>
					</span>
  				
  				</table>
  				<form action="/foodSettings"><button type="submit">Refresh</button></form>
  			</div>
  		</div>
  	</div>
  	<br>
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-6">
  				<h3>Dietary Requirements</h3>
  				<br>
  				<form action="/setDietReqs" id="setDietReqs" method="POST">
  					<table>
  						<tbody>
  							<tr class="loginRow">	
  								<td>Vegetarian</td>
  								<td>
  									<span th:if="${vegiterian ne null}"><input type='checkbox' id='Vegetarian' name='Vegetarian' value='V' checked></span>
  									<span th:if="${vegiterian eq null}"><input type='checkbox' id='Vegetarian' name='Vegetarian' value='V'></span>						
  								</td>
  							</tr>
  							<tr class="loginRow">	
  								<td>Vegan</td>
  								<td>
  									<span th:if="${vegan ne null}"><input type="checkbox" id="Vegan" name="Vegan" value="VV" checked></span>
  									<span th:if="${vegan eq null}"><input type="checkbox" id="Vegan" name="Vegan" value="VV"></span>						
  								</td>
  							</tr>
  							<tr class="loginRow">	
  								<td>Lactose Intolerance</td>
  								<td>
  									<span th:if="${lactoseInt ne null}"><input type="checkbox" id="LacInt" name="LacInt" value="L" checked></span>
  									<span th:if="${lactoseInt eq null}"><input type="checkbox" id="LacInt" name="LacInt" value="L"></span>						
  								</td>							
  							</tr>
  							<tr class="loginRow">	
  								<td>Gluten Intolerance</td>
  								<td>
  									<span th:if="${glutenInt ne null}"><input type="checkbox" id="GlucInt" name="GlucInt" value="G" checked></span>
  									<span th:if="${glutenInt eq null}"><input type="checkbox" id="GlucInt" name="GlucInt" value="G"></span>						
  								</td>				
  							</tr>
  							<tr class="loginRow">	
  								<td>Nut Allergy</td>
  								<td>
  									<span th:if="${nutAlerg ne null}"><input type="checkbox" id="NutAlg" name="NutAlg" value="N" checked></span>
  									<span th:if="${nutAlerg eq null}"><input type="checkbox" id="NutAlg" name="NutAlg" value="N"></span>						
  								</td>
  							</tr>
  							<tr class="loginRow">	
  								<td>Kosher</td>
  								<td>
  									<span th:if="${kosher ne null}"><input type="checkbox" id="Kosher" name="Kosher" value="K" checked></span>
  									<span th:if="${kosher eq null}"><input type="checkbox" id="Kosher" name="Kosher" value="K"></span>						
  								</td>							
  							</tr>
  							<tr class="loginRow">	
  								<td>Halal</td>
  								<td>
  									<span th:if="${halal ne null}"><input type="checkbox" id="Halal" name="Halal" value="H" checked></span>
  									<span th:if="${halal eq null}"><input type="checkbox" id="Halal" name="Halal" value="H"></span>						
  								</td>
  							</tr>
  						</tbody>
  					</table>
  					<p><input type="submit" value="Set"/></p>
  				</form>
  			</div>
  			<div class="col-sm-6">
  				<h3>Targets</h3>
  				<form method="POST" action="http://localhost:8080/Healthy-Life-Git/addTarget.html" onsubmit="validateForm()">
  					<table>
  						<tbody>
  							<tr class="loginRow">	
								<td>TBD</td>
  							</tr>
  						</tbody>
  					</table>
  				<p><input type="submit" value="Set"/></p>
  				</form>
  			</div>
  		</div>
  	</div>
	
</body>
</html>