<!DOCTYPE html>
<html>
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BDX8VRDFSM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BDX8VRDFSM');
</script>

<meta charset="ISO-8859-1">
<title>Logout</title>

<div th:include="StandardImports.html"></div>

</head>
<body>
	<div th:include="nav-top.html"></div>
	
	<h1>You have logged out</h1>
</body>
</html>