<!DOCTYPE html>
<html>
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BDX8VRDFSM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BDX8VRDFSM');
</script>
<meta charset="ISO-8859-1">
<title>Record a Meal</title>

<div th:include="StandardImports.html"></div>

</head>
<body>
	<div th:include="nav-top.html"></div>
	
	<div class="container">
	
		<table border="1">
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Location</th>
				<th>Meal Type</th>
				<th>Weight</th>
				<th>Calories</th>
				<th>Fruit & Veg %</th>
				<th>Starchy Carbohydrates %</th>
				<th>Protien %</th>
				<th>Dairy & Alternatives %</th>
				<th>Oils & Spreads %</th>
				<th>Junk Food % </th>
			</tr>
			
			<span th:each="meal : ${userMeals}">
				<tr>
					<td th:text="${meal.title}"/>
					<td th:text="${meal.description}"/>
					<td th:text="${meal.location}"/>
					<td th:text="${meal.mealType}"/>
					<td th:text="${meal.weight}"/>
					<td th:text="${meal.calories}"/>
					<td th:text="${meal.fv}"/>
					<td th:text="${meal.carbs}"/>
					<td th:text="${meal.protein}"/>
					<td th:text="${meal.dairy}"/>
					<td th:text="${meal.oil}"/>
					<td th:text="${meal.junk}"/>
				</tr>
				<c:set var="count" value="${count+1}"/>
			</c:forEach>
		</table>

  	</div>
	
</body>
</html>